<div class="tab  btn-open">
    <%= icon 'fa-arrow-right' %>
</div>

<div class="content">
    <div id='debug' style="display:none">
    debug message
    </div>

    <%= partial 'admin/pages/index/pane_tree_tabs' %>
    <%
        table @pages, style: 'smart-tree-table', lang: @lang, html_params: { id: 'tree' } do
            column :drag_handle, label: '' do
                ''
            end
            column :publication_state, label: '' do |p|
                admin_pages_publication_state_as_icon( p, options[:lang] )
            end
            column :name, label: 'Name' do |p|
              admin_pages_title_as_text( p, options[:lang] )
            end
            column :type, label: 'Type' do |p|
              p.page_type.try(:name)
            end
        end
    %>

    <div class="bottom-toolbar">
        <div class="container">
            <div class="btn-group">
                <% link_to "new", class: "btn btn-default btn-sm page-append-link", title: "Add new page" do %>
                    <%= icon 'fa-plus' %> Add
                <% end %>

                <% link_to "new", class: "btn btn-default btn-sm page-insert-link", title: "Insert new page" do %>
                    <%= icon 'fa-arrow-right' %> Insert
                <% end %>
            </div>

            <% link_to_modal "new", class: "btn btn-default btn-sm page-delete-link" do %>
                <%= icon 'fa-times' %>
                Delete page
            <% end %>
        </div>
    </div>

</div> <!-- .content -->

