<div class="tab  btn-open">
    <%= icon 'fa-arrow-right' %>
</div>

<div class="content">
    <%= partial 'admin/pages/index/pane_tree_tabs' %>
    <%
        table @page_nodes, style: 'smart-tree-table', lang: @lang, html_params: { id: 'tree' } do
            column :drag_handle, label: '' do
                ''
            end
            column :publication_state, label: '' do |p|
                admin_pages_publication_state_as_icon( p, options[:lang] )
            end
            column :title do |p|
              admin_pages_title_as_text( p, options[:lang] )
            end
            column :type do |p|
              p.page_type.try(:name)
            end
        end
    %>

    <div class="bottom-toolbar">
        <div class="container">
            <div class="btn-group page-actions">
                <!-- append single -->
                <% link_to "new",
                    class: "btn btn-default btn-sm page-append-link",
                    title: t.aerogel.admin.pages.append do
                %>
                    <%= icon 'fa-plus' %> <%= t.aerogel.admin.pages.append_short %>
                <% end %>

                <!-- append select multiple -->
                <% link_to_modal "new",
                    class: "btn btn-default btn-sm page-append-select-link",
                    title: t.aerogel.admin.pages.append do
                %>
                    <%= icon 'fa-plus' %> <%= t.aerogel.admin.pages.append_short %> &hellip;
                <% end %>

                <!-- insert single -->
                <% link_to "new",
                    class: "btn btn-default btn-sm page-insert-link",
                    title: t.aerogel.admin.pages.insert do
                %>
                    <%= icon 'fa-arrow-right' %> <%= t.aerogel.admin.pages.insert_short %>
                <% end %>

                <!-- insert multiple -->
                <% link_to_modal "new",
                    class: "btn btn-default btn-sm page-insert-select-link",
                    title: t.aerogel.admin.pages.insert do
                %>
                    <%= icon 'fa-arrow-right' %> <%= t.aerogel.admin.pages.insert_short %> &hellip;
                <% end %>

            </div>

            <% link_to_modal "new", class: "btn btn-default btn-sm page-delete-link page-actions" do %>
                <%= icon 'fa-times' %>
                <%= t.aerogel.admin.pages.delete %>
            <% end %>

            <div class="pages-reorder-actions">
                <% form nil, action: "pages_reorder", html_params: { class: 'pages-reorder-form' } do %>
                    <%= link_to "", t.aerogel.admin.pages.reorder_cancel.to_s,
                        class: "btn btn-default pages-reorder-cancel-link"
                    %>
                    <%= button :submit, label: t.aerogel.admin.pages.reorder_save.to_s,
                        class: "btn btn-primary pages-reorder-save-link"
                    %>
                <% end %>
            </div>
        </div>
    </div>

</div> <!-- .content -->

