<tr
    data-id="<%= table_row.id %>" data-parent-id="<%= table_row.parent_id %>"
    data-type="<%= table_row.page_type.type %>"
    data-allowed-children="<%= table_row.page_type.allowed_children.pluck(:type).join(',') %>"
>
<% table.columns.each do |col| %>
    <td <td <%= col.html_params %> >
        <%= col.block.present? ? col.block.call( table_row ) : h( table_row.send col.field ) %>
    </td>
<% end %>
</tr>