<div class="page-block id-<%= self.object.id %>">
    <%= field :_destroy, as: :hidden, class: 'marked-for-removal' %>
    <%= field :_type, as: :hidden %>
    <%= field :position, as: :hidden, class: 'page-block-position' %>

    <%= partial "admin/pages/edit/block_header", scope: self, locals: { type: type } %>

    <%=
        begin
            partial "admin/pages/edit/block/#{type}", scope: self
        rescue Errno::ENOENT
            partial "admin/pages/edit/block/default", scope: self
        end
    %>

</div>