<%= field :parent_id, as: :hidden %>
<%= field :page_type_id, as: :hidden %>

<div class="page-content-toolbar">

<ul class="nav nav-tabs">
<% Page.available_langs.each do |lang| %>
    <li <%= options[:current_lang].to_s == lang.to_s ? 'class="active"' : '' %>>
        <a href="#<%= lang %>" data-toggle="tab">
            <% if object.content( lang ).present? %>
                <% if object.content( lang ).errors.present? %>
                    <span class="present has-error">
                        <%= icon 'fa-warning' %> <%= lang %>
                    </span>
                <% else %>
                    <span class="present">
                        <%= lang %>
                    </span>
                <% end %>
            <% else %>
                <span class="empty">
                    <%= lang %>
                </span>
            <% end %>
        </a>
    </li>
<% end %>

    <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= icon 'fa-cog' %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" class="clear-page-content-link">
                    Clear page content
                </a>
            </li>
        </ul>
    </li>

</ul>

</div>


<!-- Tab panes -->
<div class="tab-content page-content-tabs">
<% Page.available_langs.each do |lang| %>
<%  page_content = object.content(lang) || PageContent.new( lang: lang ) %>
    <div class="tab-pane <%= options[:current_lang].to_s == lang.to_s ? 'active' : '' %>"
        id="<%= lang %>"
    >
        <%= partial "admin/pages/edit/page_content",
            scope: self,
            locals: {
                page_content: page_content,
                object: object,
                form_builder: self
            }
        %>
    </div>
<% end %>
</div>
