<% collapsed = true %>

<!-- .header.closed -->
<div class="header closed" <%= collapsed ? "" : "style='display:none'"  %> >
    <a href="#" class="smart-link"
data-show-id=".page-<%= page.lang %> .page-footer .header.open, .page-<%= page.lang %> .page-footer .content"
data-hide-id=".page-<%= page.lang %> .page-footer .header.closed"
        data-effect="slide"
    >
        <%= icon 'fa-plus' -%><span class="header-label"><%=
            t.aerogel.admin.pages.views.edit.add_block
        %></span>
    </a>
</div>
<!-- /.header.closed -->


<div class="content"  <%= collapsed ? "style='display:none'" : "" %> >
    <ul class="block-creators">
        <% page.available_block_types.each do |block_type| %>
        <li>
            <a href="#" class="btn-block-create smart-link"
                data-lang="<%= page.lang %>"
                data-type="<%= block_type %>"
                data-page-node-id="<%= page_node.id %>"
                data-page-id="<%= page.id %>"
                data-show-id=".page-<%= page.lang %> .page-footer .header.closed"
                data-hide-id=".page-<%= page.lang %> .page-footer .header.open, .page-<%= page.lang %> .page-footer .content"
                data-effect="slide"

            >
                <%= icon 'fa-plus' %>
                <span class="block-creator-label"><%=
                    t block_type, scope: 'aerogel.admin.pages.views.edit.block'
                %></span>
            </a>
        </li>
        <% end %>
    </ul>
</div>
<!-- /.content -->

<!-- .header.open -->
<div class="header open" <%= collapsed ? "style='display:none'" : "" %> >
    <a href="#" class="smart-link"
data-show-id=".page-<%= page.lang %> .page-footer .header.closed"
data-hide-id=".page-<%= page.lang %> .page-footer .header.open, .page-<%= page.lang %> .page-footer .content"
        data-effect="slide"
    >
        <%= icon 'fa-chevron-up' -%><span class="header-label"><%=
            t.aerogel.admin.pages.views.edit.add_block
        %></span>
    </a>
</div>
<!-- /.header -->
