<div class="page-empty page-empty-<%= page.lang %>" style="display:none" >
    <div class="message">
        <%= t.aerogel.admin.pages.views.edit.no_content %>
    </div>
    <div class="button">
        <a href="#" class="btn btn-default add-page-content-link" data-lang="<%= page.lang %>">
            <%= icon 'fa-plus' %> <%= t.aerogel.admin.pages.views.edit.add_content %>
        </a>
    </div>
</div>

<div class="page page-<%= page.lang %>" data-lang="<%= page.lang %>">

<% fieldset page,
    parent: form_builder,
    name: :pages,
    object_index: page.lang do
%>

    <%= field :_destroy, as: :hidden, class: 'marked-for-removal' %>
    <%= field :lang, as: :hidden %>

    <div class="title">
        <%= field :title, as: :title, style: 'admin-pages-edit', required: false %>
    </div>



    <div class="page-header">
    <%= partial "admin/pages/edit/page_header",
        scope: self,
        locals: {
            page_node: page_node,
            page: page,
            object: object,
            form_builder: self
        }
    %>
    </div>

    <div class="page-blocks">
    <% fieldset :page_blocks, style: 'admin-pages-edit-block' do %>
        <%= partial "admin/pages/edit/block",
                scope: self,
                locals: { type: self.object.type }
        %>
        <!-- %= field :content, as: :textarea % -->
    <% end %>
    </div>

    <div class="page-footer">
        <%= partial "admin/pages/edit/page_footer",
                scope: self,
                locals: {
                    page_node: page_node,
                    page: self.object
                }
        %>
    </div>

<% end %>

</div>
