<% page_content_header_expanded = page_content.errors.present? || !page_content.persisted? %>

<div class="page-content-header-link"
    <%= page_content_header_expanded ? "style='display:none'" : ""  %>
>
    <a href="#" class="smart-link"
        data-show-id=".page-content-<%= page_content.lang %> .page-content-header"
        data-hide-id=".page-content-<%= page_content.lang %> .page-content-header-link"
        data-effect="slide"
    >
    <%= icon 'fa-caret-right' %> &nbsp;
    <%= admin_pages_publication_state_as_icon page_content.publication_state %>
    <%= l page_content.published_at.try(:to_date), default: "no published date" %>

    </a>
</div>

<div class="page-content-header well well-sm"
    <%= page_content_header_expanded ? "": "style='display:none'" %>
>

<button type="button" class="close smart-link" aria-hidden="true"
    data-show-id=".page-content-<%= page_content.lang %> .page-content-header-link"
    data-hide-id=".page-content-<%= page_content.lang %> .page-content-header"
    data-effect="slide"
>&times;</button>


<div class="row">
    <div class="col-sm-5">
        <%= field :published_at, as: :datetime, style: 'admin-pages-edit' %>
    </div>
    <div class="col-sm-7">
        <%= field :publication_state, as: :radio_buttons, style: 'admin-pages-edit',
            values:%w(published hidden not_published),
            labels:[
                icon('fa-check')+' published',
                icon('fa-eye')+' hidden',
                icon('fa-times')+' not published'
            ],
            required: true

        %>
    </div>
</div>

<%= field :link, as: :text_addon, style: 'admin-pages-edit', required: false, prefix: '/ abc / some /' %>

<%= field :html_description, as: :textarea, style: 'admin-pages-edit', collapsible: true,
    label: "HTML description"
%>
<%= field :html_keywords, as: :textarea, style: 'admin-pages-edit', collapsible: true,
    label: "HTML keywords"
 %>

</div>