<% collapsed = page.errors.blank? && page.persisted? %>

<!-- .header -->
<div class="header closed" <%= collapsed ? "" : "style='display:none'"  %> >
    <a href="#" class="smart-link"
data-show-id=".page-<%= page.lang %> .page-header .header.open, .page-<%= page.lang %> .page-header .content"
data-hide-id=".page-<%= page.lang %> .page-header .header.closed"
        data-effect="slide"
    >
        <%= icon 'fa-chevron-right' -%><span class="header-label"><%=
                txt = admin_pages_publication_state_as_icon( page_node, page.lang )
                txt.present? ? txt+" " : ''
            -%><%=
                l page.published_at.try(:to_date),
                    format: :long,
                    default: t.aerogel.admin.pages.views.edit.no_publication_date
            -%>
        </span>
    </a>
</div>

<div class="header open" <%= collapsed ? "style='display:none'" : "" %> >
    <a href="#" class="smart-link"
data-show-id=".page-<%= page.lang %> .page-header .header.closed"
data-hide-id=".page-<%= page.lang %> .page-header .header.open, .page-<%= page.lang %> .page-header .content"
        data-effect="slide"
    >
        <%= icon 'fa-chevron-down' -%><span class="header-label"><%=
            t.aerogel.admin.pages.views.edit.page_details %>
        </span>
    </a>
</div>
<!-- /.header -->

<div class="content"  <%= collapsed ? "style='display:none'" : "" %> >
    <div class="row">
        <div class="col-sm-5">
            <%= field :published_at, as: :datetime, style: 'admin-pages-edit' %>
        </div>
        <div class="col-sm-7">
            <%= field :publication_state, as: :radio_buttons, style: 'admin-pages-edit',
                values:%w(published hidden not_published),
                labels:[
                    icon('fa-check')+' published',
                    icon('fa-eye')+' hidden',
                    icon('fa-times')+' not published'
                ],
                required: true

            %>
        </div>
    </div>

    <%= field :link, as: :text_addon, style: 'admin-pages-edit', required: false,
            prefix: (
                admin_pages_url_as_text( page_node.parent, page.lang )+" /"
            )
    %>

    <%= field :html_description, as: :textarea, style: 'admin-pages-edit', collapsible: true %>
    <%= field :html_keywords, as: :textarea, style: 'admin-pages-edit', collapsible: true %>

</div>
<!-- /.content -->

