<div class="page-content-empty page-content-empty-<%= page_content.lang %>" style="display:none" >
    <div class="message">
        No content
    </div>
    <div class="button">
        <a href="#" class="btn btn-default add-page-content-link" data-lang="<%= page_content.lang %>">
            <%= icon 'fa-plus' %> Add content
        </a>
    </div>
</div>

<div class="page-content page-content-<%= page_content.lang %>">

<% fieldset page_content,
    parent: form_builder,
    name: :page_contents,
    object_index: page_content.lang do
%>

    <%= field :_destroy, as: :hidden, class: 'marked-for-removal' %>
    <%= field :lang, as: :hidden %>
    <%= field :title, as: :title, style: 'admin-pages-edit', required: false %>


    <%= partial "admin/pages/edit/page_content_header",
        scope: self,
        locals: {
            page: page,
            page_content: page_content,
            object: object,
            form_builder: self
        }
    %>

    <div class="page-content-blocks">
    <% fieldset :page_content_blocks, style: 'admin-pages-edit-content-block' do %>
        <%= partial "admin/pages/edit/content_block",
                scope: self,
                locals: { type: self.object.type }
        %>
        <!-- %= field :content, as: :textarea % -->
    <% end %>
    </div>

    <div class="page-content-block-bottom">
        <a href="#" onclick="page_content_block_add_<%= self.object.lang %>(); return false">add page content block</a>

    </div>

<% end %>

</div>

<script type="text/javascript">
function page_content_block_add_<%= page_content.lang %>() {
    var lang = "<%= page_content.lang %>";
    $.get( "page_content_block", { type: 'some-type', page_content_lang: lang } )
    .done(function(data) {
        $(".page-content-"+lang+" .page-content-blocks").append( data );
        console.log("page-conten-block-added");
    });
}
</script>