<div class="page-content-empty page-content-empty-<%= page_content.lang %>" style="display:none" >
    <div class="message">
        No content
    </div>
    <div class="button">
        <a href="#" class="btn btn-default add-page-content-link" data-lang="<%= page_content.lang %>">
            <%= icon 'fa-plus' %> Add content
        </a>
    </div>
</div>

<div class="page-content page-content-<%= page_content.lang %>">

<% fieldset page_content,
    parent: form_builder,
    name: :page_contents,
    object_index: page_content.lang do
%>

    <%= field :_destroy, as: :hidden, class: 'marked-for-removal' %>
    <%= field :lang, as: :hidden %>

    <div class="title">
        <%= field :title, as: :title, style: 'admin-pages-edit', required: false %>
    </div>



    <div class="page-content-header">
    <%= partial "admin/pages/edit/page_content_header",
        scope: self,
        locals: {
            page: page,
            page_content: page_content,
            object: object,
            form_builder: self
        }
    %>
    </div>

    <div class="page-content-blocks">
    <% fieldset :page_content_blocks, style: 'admin-pages-edit-content-block' do %>
        <%= partial "admin/pages/edit/content_block",
                scope: self,
                locals: { type: self.object.type }
        %>
        <!-- %= field :content, as: :textarea % -->
    <% end %>
    </div>

    <div class="page-content-footer">
        <%= partial "admin/pages/edit/page_content_footer",
                scope: self,
                locals: {
                    page: page,
                    page_content: self.object
                }
        %>
    </div>

<% end %>

</div>
