<label for="<%= field.css_id %>"><%= field.label -%>
<% if field.required? -%> <abbr class="required" title="<%= t 'aerogel.forms.required' %>">*</abbr>
<% end -%>
</label>
<div class="input-group">
    <% if field.options.key? :prefix %>
        <span class="input-group-addon">
            <%= field.options[:prefix] %>
        </span>
    <% end %>
    <input id="<%= field.css_id %>" type="text" name="<%= field.html_name %>" value="<%= h field.value %>" <%= field.required? ? 'required' : '' %> <%= field.html_params %> class="form-control" />
    <% if field.options.key? :suffix %>
        <span class="input-group-addon">
            <%= field.options[:suffix] %>
        </span>
    <% end %>
</div>
