<label for="<%= field.css_id %>"><%= field.label -%>
<% if field.required? -%> <abbr class="required" title="<%= t 'aerogel.forms.required' %>">*</abbr>
<% end -%>
</label>

<!-- div class="input-group datetimepicker" -->
<div class="input-group datetimepicker">


<input id="<%= field.css_id %>" type="<%= field.type %>" name="<%= field.html_name %>"
    value="<%= h field.value.try(:iso8601) %>" <%= field.required? ? 'required' : '' %>
    <%= field.html_params %> class="form-control"
    data-target-id="<%= field.css_id %>"
/>
<span class="input-group-addon">
<%= icon 'fa-calendar' %>
</span>

</div>