<% page_title "Delete page?" %>

<% form @page, action: "/admin/pages/#{@page.id}/delete" do %>

Delete page <%= h object.name %> ?

<p class="alert alert-warning">
    <%= icon_warning %> <%= t.aerogel.admin.warning_permanent_action %>
</p>
<%=     button :cancel, url: "/admin/pages/#{object.id}" %>
<%=     button :danger_submit, label: "Delete page" %>
<% end %>
