<% page_title t.aerogel.admin.pages.views.delete.title %>

<% form @page,
        action: "/admin/pages/#{@lang}-#{@page.id}/delete",
        cancel_url: "/admin/pages/#{@lang}-#{@page.id}",
        lang: @lang do
%>

<% subpages_count = object.descendants.count %>
<% if subpages_count == 0 %>
    <%= t.aerogel.admin.pages.views.delete.text_no_subpages(
            title: admin_pages_title_as_text( object, options[:lang] )
        )
    %>
<% else %>
<%= t.aerogel.admin.pages.views.delete.text_with_subpages(
        title: admin_pages_title_as_text( object, options[:lang] ),
        count: subpages_count
    )
%>
<% end %>

<p class="alert alert-warning">
    <%= icon_warning %> <%= t.aerogel.admin.warning_permanent_action %>
</p>
<%=     button :cancel, url: options[:cancel_url] %>
<%=     button :danger_submit, label: t.aerogel.admin.pages.delete %>
<% end %>
