<% assets "controllers/admin-pages" %>

<% page_title t.aerogel.admin.panes.pages %>

<div class="pages-widget">
<div class="pane-tree pane left">
    <%= partial 'admin/pages/index/pane_tree' %>
</div><div class="pane-preview pane right">
    <%= partial 'admin/pages/index/pane_preview' %>
</div>
</div>



<script type="text/javascript">
$(function(){
    pages_widget.set_state({
<% if @selected_page_node %>
        page_node_id: "<%= @selected_page_node.id %>",
<% end %>
        lang: "<%= @lang %>"
    });
    pane_tree.expand("<%= PageNode.root.id %>");
    // pages_widget.open_left();
});
</script>
