<% assets 'controllers/admin-pages' %>

<% page_title t.aerogel.admin.panes.pages %>

<div class="pages-widget">
<div class="pane-tree pane left">
    <%= partial 'admin/pages/index/pane_tree' %>
</div><div class="pane-preview pane right">
    <%= partial 'admin/pages/index/pane_preview' %>
</div>
</div>



<script type="text/javascript">
    $(function(){
        pages_widget.set_state({
<% if @selected_page %>
            page_id: "<%= @selected_page.id %>",
<% end %>
            lang: "<%= @lang %>"
        });
        pane_tree.expand("<%= Page.root.id %>");
        // pages_widget.open_left();
    });

function edit_page_clicked() {
    alert("selected_page: "+selected_page);
}
</script>
