<div class="page-preview-body">
<%= partial 'admin/pages/preview/breadcrumbs' %>
<% if @page_node.page(@lang).present? %>
    <h3 class="title">
        <%= @page_node.page(@lang).try :title %>
    </h3>
    <div class="headers">
        <div class="published_at">
            <%= l @page_node.page(@lang).try(:published_at).try(:to_date),
                default: nil,
                format: :long
            %>
        </div>
    </div>

    <div class="content">
        <%= partial "admin/pages/preview/block",
            collection: @page_node.page(@lang).try(:page_blocks)
        %>
    </div>
<% else %>
    <div class="content">
        <br/>
        <span class="nodata">
            <%= icon 'fa-warning' %> <%= t.aerogel.admin.pages.views.preview.no_content_in_this_language %>
        </span>
        <br/>
    </div>
<% end %>
</div>