<ul class="menu open">
    <li>
        <%= link_to "/", icon('fa-home')+" "+Page.root(current_locale).try(:title) %>
    </li>
    <%= partial "layouts/pages/menu_item", collection: Page.root(current_locale).try(:children) %>

    <li class="divider"></li>
    <li>
        <a href="#" class="smart-link"
            data-show-id=".menu.closed"
            data-hide-id=".menu.open"
            data-effect="slide"
        >
            <%= icon 'fa-bars' %> <%= icon 'fa-caret-up' %>
        </a>
    </li>
</ul>

<ul class="menu closed">
    <li>
        <a href="#" class="smart-link"
            data-show-id=".menu.open"
            data-hide-id=".menu.closed"
            data-effect="slide"
        >
            <%= icon 'fa-bars' %> <%= icon 'fa-caret-down' %>
        </a>
    </li>
<% Page.available_langs.each do |lang| %>
    <li class="<%= (lang == current_locale) ? 'active' : '' %>">
        <%= link_to current_page_url( locale: lang ), lang.to_s %>
    </li>
<% end %>

<%= partial 'layouts/pages/menu_user' %>

</ul>